:root{
    --primary-color:#1A2B48;
    --white:#fff;
    --black:#000;
    --grey:#5E6D77;
    --like-grey:#6a7a84;
    --light-grey:#a0a9b2;
    --white-grey: #d7dce3;
    --milk-grey: #D0D7DD;
    --orange:#FA5636;
    --radiant-blue: rgba(6,147,227,1);
    --blue: #5191fa;
    --yellow:#ffdc00;
    --red: #CC0033;
}

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3.3rem;
}
/* 
p{
    font-size: 1rem;
} */

/*Header*/
header{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 12px;
}

header div{
    display: flex;
    justify-content: space-between;
}

header a{
    display: flex;
    align-items: center;
    color: var(--white);
    padding: 0 18px 0 0;
    text-decoration: none;
    height: 18px;
}

.top-header{
    box-sizing: border-box;
    height: 51px;
    padding: 15px 50px;
    background-color: var(--primary-color);
}

.top-header-left a{
    width: 10px;
}

.top-header-left a:nth-child(4){
    padding: 0 0 0 18px;
    border-left: 0.5px solid rgba(255,255,255,.2);
}

.top-header-left a img{
    width: 17px;
}

.top-header-left{
    display: flex;
    align-items: center;
}

.top-header-right{
    display: flex;
    align-items: center;
}

.top-header-right a{
    padding: 0 18px;
    border-right: 0.5px solid rgba(255,255,255,.2);
}

.top-header-right select{
    outline: none;
    padding: 0 0 0 18px;
    font-size: 12px;
    color: var(--white);
    background-color: var(--primary-color);
    border: 0;
}

/*Main*/

/*Section 1*/

.search-section{
    background-image: url(../assets/images/img_hero_6.jpg);
    background-position: center center;
    width: 100%;
    height: 283px;
    padding: 200px 0 90px;
    background-size: cover;
}

.down-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 50px;
    font-weight: bold;
    font-size: 14px;
}

.search-icon{
    width: 24px;
}

.search-question{
    padding: 200px 0 90px;
    margin: 0 auto;
}

.down-header div{
    align-items: center;
}

.down-header div a{
    position: relative;
    text-decoration: none;
}

.search-left a img{
    width: 142.639px;
}

.search-left a:nth-child(2){
    color: var(--radiant-blue);
    padding: 35px 25px;
}

.search-right{
    align-items: center;
}

.search-right form input{
    background: url(../assets/icons/ico_search_white.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: 0;
    outline: none;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 15px;
}

.search-right form input:focus{
    width: 200px;
    border-bottom: 1px solid var(--radiant-blue);
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    align-items: center;
    display: inline-block;
    color: var(--white);
    box-sizing: border-box;
}

nav ul li a{
    padding: 35px 25px;
}

.arrow{
    position: absolute;
    right: 5px;
    font-weight: bold;
    font-size: 18px;
}

.options{
    display: none;
}

.search-right a{
    margin: 0 15px;
}

.search-right a:nth-child(2){
    background-color: var(--orange);
    border-radius: 3px;
    padding: 10px 25px;
    font-weight: 450;
}

.search-section{
    color: var(--white);
}

.search-container h1{
    margin-bottom: 20px;
    font-family: 'Libre Baskerville', serif;
}

.search-container > p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}


.search-section > div{
    padding: 10px;
}

.search-section div{
    max-width: 1320px;
    margin: 0 auto;
    align-items: center;
}

.search-filter ul{
    display: flex;
}

.filter{
    font-size: 14px;
    box-sizing: border-box;
    height: 35px;
    padding:10px 30px;
    background-color: var(--primary-color);
    border-radius: 8px 8px 0 0;
}
.filter a{
    text-decoration: none;
    color: var(--white);
}

.active{
    background-color: var(--blue);
}

.form-filter-container{
    width: 100%;
    height: 100%;
}

.form-filter{
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 8px; 
    font-size: 14px;
    height: 86px;
}

.text-grey{
    color: var(--grey);
}

.item-filter{
    display: flex;
    padding: 15px;
    width: 100%;
}

.item-filter > div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.item-filter > div p{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.item-filter label{
    padding-bottom: 10px;
}

.item-filter input{
    border: 0;
    outline: none;
    color: var(--radiant-blue);
}

.item-filter input::placeholder,
.text-blue{
    color: var(--blue);
    font-size: 14px;
}

.text-blue span{
    color: var(--black);
    font-size: 14px;
}

.arrow-grey{
    font-weight: bold;
    font-size: 22px;
    color: var(--light-grey);
}

.item-filter button{
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
    border: 0;
    border-radius: 3px;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: bold;
}

.dates-container{
    display: flex;
    align-items: center;
}

/*Para eliminar el icono del calendario*/
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.fa-map-marker,
.fa-calendar-o,
.fa-users{
    color: var(--radiant-blue); 
    font-size: 2em;
}

.filter-right{
    padding: 0 12px;
    border-right: 1px solid var(--white-grey);
    height: 86px;
}

.filter-left{
    padding: 0 15px;
    border-left: 1px solid var(--white-grey);
    
}


/*Section: special-offers*/

.special-offers{
    max-width: 1320px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    margin: 90px auto;
    color: var(--white);
    box-sizing: border-box;
    padding: 10px;
}

.special-offers h2 {
    font-size: 35px;
}

.special-offers p {
    font-size: 18px;
}

.offer1{
    background-image: url(../assets/images/image_banner_1.jpg);
}

.offer2{
    background-image: url(../assets/images/image_banner_2.jpg);
}

.offer3{
    background-image: url(../assets/images/image_banner_3.jpg);
}

.offer1,
.offer2,
.offer3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 444px;
    background-size: cover;
    position: relative;
}

.offer1 h2,
.offer2 h2,
.offer3 h2{
    position: absolute;
    top: 160px;
    left: 30px;
    font-weight: 500;
}

.offer1 p,
.offer2 p,
.offer3 p{
    position: absolute;
    top: 220px;
    left: 30px;
    font-size: 15px;
}

.holiday-buttom{
    background-color: var(--orange);
    color: var(--white);
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 15px;
    position: absolute;
    top: 70px;
    left: 30px;
}

.holiday-buttom:hover{
    background-color: orangered;
}

.transparent-buttom{
    color: var(--white);
    text-decoration: none;
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 15px 30px;
    transition: 0.5s;
    position: absolute;
    bottom: 70px;
    left: 30px;
}

.transparent-buttom:hover{
    color: var(--black);
    background-color: var(--white);
}

/*Section: top-destinations*/

.top-destinations{
    max-width: 1290px;
    padding: 10px;
    margin: 0 auto;
}

.top-destinations h2{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 27px;
}

.card{
    overflow: hidden;
    border-radius: 8px;
    height: 357px;
    position: relative;
}

.card img{
    height: 357px;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
    filter: brightness(0.8);
}

.card img:hover{
    transform: scale(1.1);
    border-radius: 15px;
}

.text-card{
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 10px;
}

.text-card h3{
    font-size: 34px;
    color: var(--white);
}

.text-card a{
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: var(--white);
}

.activity-list a::after{
    content: "•";
    padding: 0 10px;
}

.activity-list a:nth-child(5)::after{
    content: "";
}

.activity-list{
    margin: 10px;
}


/*Section: trending-tour*/

.trending-tour{
    max-width: 1290px;
    margin: 0 auto;
    padding: 10px;
}

.trending-tour h2{
    font-size: 28px;
    font-weight: 500;
}

.trending-tour-options{
    display: flex;
    padding: 28px 0 35px 0;
}

.trending-tour-options select{
    cursor: pointer;
    border: 0;
    color: var(--radiant-blue);
    font-size: 28px;
}

.tour-card-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.tour-card{
    width: 25%;
    padding: 12px;
    object-fit: cover;
    transition: 0.3s;
    box-sizing: border-box;
}

.card-border{
    overflow: hidden;
    border: 1px solid var(--white-grey);
    box-sizing: border-box;
    border-radius: 8px;
}

.tour-card img:not(.profile-photo){
    width: 100%;
}

.top-card{
    position: relative;
}

.top-card i{
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 1.3em;
    color: var(--white);
}

.profile-photo{
    height: 33px;
    width: 33px;
    position: absolute;
    bottom: -10px;
    right: 10px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.bottom-card{
    padding: 15px;
}

.ubication-card{
    display: flex;
    margin-top: 10px;
}

.ubication-card i{
    font-size: 1em;
}

.ubication-card p{
    margin-left: 10px;
    margin-bottom: 33px;
    color: var(--grey);
    font-size: 13px;
}

.information-card{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information-card-top div{
    display: flex;
    margin-bottom: 6px;
}

.information-card-top p{
    display: flex;
    margin-bottom: 6px;
    color: var(--like-grey);
    font-size: 14px;
}

.information-card-top i:nth-child(5):after{
    content: "•";
    padding: 0 10px;
    color: var(--milk-grey);
}


.information-card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.information-card-bottom div{
    display: flex;
}

.discount-container{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.time{
    padding-left: 24px;
    font-size: 13px;
}

.information-card-right p:nth-child(2){
    font-size: 14px;
    color: var(--grey);
}

.price{
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
}

.discount{
    color: var(--red);
    font-size: 14px;
    text-decoration: line-through;
}

.name-card{
    padding: 5px;
}

.name-card h3 a{
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}

.fa-star,
.fa-star-half-o,
.fa-star-o{
    color: var(--yellow);
}

/*footer*/

.top-footer{
    max-width: 1290px;
    margin: 0 auto;
    padding: 65px 10px; 
    display: flex;
    justify-content: space-between;
}


.top-footer h2{
    font-size: 24px;
    font-weight: 500;
}

.top-footer p{
    font-size: 20px;
    color: var(--grey);
}

.top-footer-left{
    display: flex;
    padding: 0 100px;
}

.top-footer-left img{
    width: 54px;
    height: 54px;
}

.top-footer-left div{
    padding: 0 25px;
}

.top-footer-right{
    display: flex;
    padding: 0 100px 0 0;
}

.top-footer-right input{
    box-sizing: border-box;
    padding: 6px 12px;
    height: 55px;
    font-size: 14px;
}

.top-footer-right input:nth-child(1){  
    border: 1px solid #d4d8db;
    border-radius: 5px 0 0 5px;
    width: 410px;
}

.top-footer-right input:nth-child(2){ 
    background-color: var(--radiant-blue);
    color: var(--white);
    font-weight: bold;
    border: 0;
    border-radius: 0 5px 5px 0;
    padding: 1px 25px;
    cursor: pointer;
    
}

.top-footer-right input:nth-child(1):focus{
    outline: none;
    border-color: var(--radiant-blue);
}

.middle-footer{
    max-width: 1290px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.middle-footer h3{
    font-size: 14px;
    font-weight: 500;
}

.need-help h3,
.company h3{
    margin: 0 0 60px 0;
    text-align: left;
}

.help-container{
    margin: 35px 0;
    border-left: 3px solid var(--radiant-blue);
    padding: 0 20px;
}

.subtitle,
.settings p{
    font-size: 14px;
    color: var(--grey);
    margin-bottom: 15px;
}

.information{
    font-size: 22px;
    color: var(--black);
    font-weight: 500;
}

.fa-facebook-official,
.fa-twitter,
.fa-youtube-play{
    color: var(--grey);
    font-size: 1.5em;
    transition: 0.5s;
    padding: 5px;
}

.fa-facebook-official:hover,
.fa-twitter:hover,
.fa-youtube-play:hover{
    color: var(--light-grey);
    cursor: pointer;
}

.company p{
    cursor: pointer;
    font-size: 14px;
    color: var(--black);
    margin-bottom: 25px;
    font-weight: 500;
}

.company p:hover{
    font-weight: bold;
}

.settings h3{
    margin: 0 0 30px 0;
    text-align: left;
}

.settings select{
    width: 310px;
    border: 1px solid #d4d8db;
    padding: 6px 36px 6px 12px;
    transition: 0.5s;
    border-radius: 0.25rem;
}

.settings select:focus{
    width: 310px;
    border-color: var(--radiant-blue);
}

.bottom-footer{
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 240px 30px 240px;
}

.bottom-footer p{
    font-size: 14px;
}

.bottom-footer a{
    text-decoration: none;
    color: var(--radiant-blue);
}

.bottom-footer img{
    height: 40px;
}