:root{
    --primary-color:#1A2B48;
    --white:#fff;
    --orange:#FA5636;
    --radiant-blue: rgba(6,147,227,1);
}

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3.3rem;
}

p{
    font-size: 1rem;
}

/*Header*/
header{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 12px;
}

header div{
    display: flex;
    justify-content: space-between;
}

header a{
    display: flex;
    align-items: center;
    color: var(--white);
    padding: 0 18px 0 0;
    text-decoration: none;
    height: 18px;
}

.top-header{
    box-sizing: border-box;
    height: 51px;
    padding: 15px 50px;
    background-color: var(--primary-color);
}

.top-header-left a{
    width: 10px;
}

.top-header-left a:nth-child(4){
    padding: 0 0 0 18px;
    border-left: 0.5px solid rgba(255,255,255,.2);
}

.top-header-left a img{
    width: 17px;
}

.top-header-left{
    display: flex;
    align-items: center;
}

.top-header-right{
    display: flex;
    align-items: center;
}

.top-header-right a{
    padding: 0 18px;
    border-right: 0.5px solid rgba(255,255,255,.2);
}

.top-header-right select{
    outline: none;
    padding: 0 0 0 18px;
    font-size: 12px;
    color: var(--white);
    background-color: var(--primary-color);
    border: 0;
}

/*Main*/

/*Section 1*/

.search-container{
    background-image: url(../assets/images/img_hero_6.jpg);
    background-position: center center;
    width: 100%;
    height: 283px;
    padding: 200px 0 90px;
    background-size: cover;
}

.down-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 50px;
    font-weight: bold;
    font-size: 14px;
}

.search-icon{
    width: 24px;
}

.search-question{
    padding: 200px 0 90px;
    margin: 0 auto;
}

.down-header div{
    align-items: center;
}

.down-header div a{
    position: relative;
    text-decoration: none;
}

.search-left a img{
    width: 142.639px;
}

.search-left a:nth-child(2){
    color: var(--radiant-blue);
    padding: 35px 25px;
}

.search-right{
    align-items: center;
}

.search-right form input{
    background: url(../assets/icons/ico_search_white.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: 0;
    outline: none;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 15px;
}

.search-right form input:focus{
    width: 200px;
    border-bottom: 1px solid var(--radiant-blue);
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    align-items: center;
    display: inline-block;
    color: var(--white);
    box-sizing: border-box;
}

nav ul li a{
    padding: 35px 25px;
}

.flecha{
    position: absolute;
    right: 5px;
    font-weight: bold;
    font-size: 18px;
}

.options{
    display: none;
}

.search-right a{
    margin: 0 15px;
}

.search-right a:nth-child(2){
    background-color: var(--orange);
    border-radius: 3px;
    padding: 10px 25px;
}
